:root{
    --main-color: #027581 ;
    --color-dark: #1d2231 ;
    --text-grey:  #8390a2 ;
}

body{
    height: 1500px;
    background-color: #e2e2e2;
}
*{
    
    font-family: 'Poppins' , sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

#sidebar-toggle{
    display: none;
}


.sidebar{
    height: 100%;
    width: 260px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: #104b73;
    color:#fff;
    overflow-y: auto;
    transition: width 500ms;
    
}

.sidebar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0rem 1rem;
}


.sidebar-menu{
    padding: 1.4rem;
}

.sidebar li{
    margin-bottom: 1.2rem;
}

.sidebar a{
    color: #fff;
    font-size: .9rem;
}




.sidebar a span:last-child{
    padding-left:.6rem;
}
#sidebar-toggle:checked ~ .sidebar {
    width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child{
    display: none;

}
#sidebar-toggle:checked ~ .sidebar .sidebar-header  ,
#sidebar-toggle:checked ~ .sidebar li{
    display: flex;
    justify-content: center;

}


#sidebar-toggle:checked ~ .main-content{
    margin-left: 60px;
}
#sidebar-toggle:checked ~ .main-content header{
    left: 60px;
}

.main-content{
    position: relative;
    margin-left: 260px;
    transition: margin-left 500ms;
    
}

header{
    position: fixed;
    left: 260px;
    top: 0;
    z-index: 100;
    width: calc(100% - 240px);
    background: #fff;
    height: 60px;
    display: flex;
    padding: 0rem 1rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    transition: left 500ms;

}

.search-wrapper{
    border: 0;
    outline: 0;
    padding: 0 65rem 0 0;
}

.social-icons{
    display: flex;
    align-items: center;
}

.social-icons span
.social-icons div{
    margin-left: 1.2rem;
}

.social-icons div{
    height: 38px;
    width: 38px;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(photo5217594862264758728\ \(1\).jpg);
    border-radius: 50%;
}




.recent{
    box-sizing: border-box;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'Roboto' , sans-serif;
    
}

.activity-grid{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 1.5rem;
    padding: 1rem 2rem;
}
.activity-card{
    width: 120%;
    height: auto;
    background: #e2e2e2;
    border-radius: 7px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    margin-left: 1rem;
    margin-top: 3rem;
}

.container h2{
   margin-bottom: 3rem;
   font-family: sans-serif;
}
.container h2 a i{
    float: right;
    font-size: 15px;
    color: black;
}

.container{
    margin-top: 20px;
    padding: 30px;
    
}

.select-box{
    display: flex;
    width: 300px;
    flex-direction: column;
}



.select-box .options-container{
    background-color: var(--color-dark);
    color: white;
    max-height: 0;
    width: 100%;
    transition: all 0.4s;
    opacity: 0;
    border-radius: 8px;
    overflow:hidden;

    order: 1;
}

.selected{
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: white;
    position: relative;
    order: 0;
}

.selected1{
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: white;
    position: relative;
    order: 0;
}



.selected::after{
    content: "";
    background: url(arrow-down\ \(1\).svg)  ;
  
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
    margin-bottom: 5px;
    

    transition: all 0.4s;

}


 .select-box .options-container.active{
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    
}
.select-box .options-container.active{
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    
}


.select-box .options-container.active + .selected::after{
    transform: rotateX(180deg);
    top: -6px;
}


.select-box .options-container::-webkit-scrollbar{
    background:#0d141f;
    width: 8px;
    border-radius: 0px 8px 8px 0px;
}


.select-box .options-container::-webkit-scrollbar-thumb{
    background: #525861 ;
}




.select-box .option,
.selected{
    padding: 10px 20px;
    cursor: pointer;

}
.select-box .option:hover{
    background-color: #8390a2;
}


.select-box .option .radio{
    display: none;
}
.select-box label{
    cursor: pointer;
}


.language{
   margin-top: 3rem;

}
.select-box1{
    display: flex;
    width: 300px;
    flex-direction: column;
}



.select-box1 .options-container1{
    background-color: var(--color-dark);
    color: white;
    max-height: 0;
    width: 100%;
    transition: all 0.4s;
    opacity: 0;
    border-radius: 8px;
    overflow:hidden;

    order: 1;
}

.selected1{
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: white;
    position: relative;
    order: 0;
}


.select-box1 .option1:hover{
    background-color: #8390a2;
}

.selected1::after{
    content: "";
    background: url(arrow-down\ \(1\).svg)  ;
  
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
    margin-bottom: 5px;
    margin-left: 15rem;
    

    transition: all 0.4s;

}


 .select-box1 .options-container1.active1{
    max-height: 240px;
    opacity: 1;
   
    
}

.select-box1 .options-container1.active1 + .selected1::after{
    transform: rotateX(180deg);
    top: -6px;
}







.select-box1 .option1,
.selected1{
    padding: 10px 20px;
    cursor: pointer;

}



.select-box1 .option1 .radio1{
    display: none;
}
.select-box1 label{
    cursor: pointer;
}

.form{
    margin-bottom: 20px;
    margin-left: 30px;
}



.form input{
    background-color: white;
    padding: 15px 30px;
    border-radius: 20px;
    outline: none;
    border: none;
    margin: 2px;
    width: 35%;

} .form input:hover{
    border: 0.5px solid #1d2231;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}



.tool-list{
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    padding: 0;
    overflow: hidden;
    margin-left: 2.5rem;
    margin-top: 1rem ;
   
    width: 66%;
    

   
}

.tool-btn{
    display: block;
    border: none;
    padding: 0.5rem;
    font-size: 20px;
}
#output{
    
    height: 150px;
    width: 66%;
    background-color:white;
    margin-left: 2.5rem;
    padding: 1rem;
    overflow-y: scroll;
    outline: none;



}

.richtext label{
    margin-left: 3rem;
    margin-bottom: 3rem;
    font-weight: bold;
    font-size: 18px;
}

.title h2{
    font-size: 18px;
    margin-left: 2rem;
    margin-top: 2.5rem;
}

.title input{
    margin-bottom:2rem ;
    margin-left: 2rem;
    margin-top: 0.4rem;
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 20px;
    background-color: white;
    width: 25%;
}
.title input:hover{
    border: 0.5px solid #1d2231;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.title2 h2{
    margin-left: 2rem;
    font-size: 20px;
    margin-top: 3rem;
}

.title2  .input{
    margin-top: 2rem;
    margin-left: 2rem;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: white;
}
.title2  .input:hover{
    border: 0.5px solid #1d2231;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

 .number-input{
    border-radius: 20px;
    padding: 10px 8px;
    width: 8%;
    border: none;
    outline: none;
    
}
#newInputBox2{
    border-radius: 20px;
    padding: 10px 8px;
    width: 8%;
    border: none;
    outline: none;
    margin-left: 3px;
}
#newInputBox1{
  margin-top: 2rem;
    margin-left: 2rem;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: white;
}
#newInputBox1:hover{
    border: 0.5px solid #1d2231;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.number-input:hover{
    border: 0.5px solid #1d2231;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}



#button {
 
    color: white;
    background-color: rgb(204, 38, 34);
    padding: 15px 80px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    float: right;
    margin-right: 10rem ;
    transform: scale(0.9);
    
    
}

 #button:hover{
    background-color: var(--color-dark);
    transition: 1s;
}

.fa-plus{
    background-color: rgb(204, 38, 34);
    color: white;
    padding: 7px 15px;
    border-radius: 20px;
    margin-left: 15px;

}
.fa-plus:hover{
    background-color: var(--color-dark);
    transition: 1s;
}